rect {
}

.axis path,
.axis line {
  fill: none;
/*  stroke: black; */
/*  shape-rendering: crispEdges; */
}
.axis text {
  font-family: Monaco, "Ubuntu Mono";
}

circle {
}

html, body {
  border: 0px;
  padding: 0px;
  margin: 0px;
}
