.multiDayOnePerson
  background #222
  border 0px
  padding 0px
  .header
    height 64px
    display block
    border-bottom 2px solid #CCC
  .container
    display block
    height 560px
    width 100%
    text-align center
    vertical-align top
    .op-container
      margin-top 40px  // same as svg margin
      vertical-align top
      display inline-block
      width 240px
      height 100%
      .op-group
        padding 5px
        span
          color #CCC
          width 80px
          display inline-block
        .person-pick
          width 130px
          height 24px
          border 0
          border-radius 3px
          padding 0
          padding-left 4px
          font-family Monaco, "Ubuntu Mono"
    .multiDayOnePerson-div
      display inline-block
      width 1080px
      margin 0 auto
