.multiDayMultiPerson
  width 1080px
  margin 0 auto
  background white
  border 0px
  padding 0px
  .header
    height 64px
    display block
    // border-bottom 2px solid #CCC
    p
      padding-top 20px
  .container
    display block
    height 560px
    width 100%
    text-align center
    vertical-align top
    border-left 2px solid #CCC
    border-right 2px solid #CCC
    .multiDayMultiPerson-div
      display inline-block
      width 100%
      height 100%
      margin 0 auto
