.multiDayOnePerson
  background white
  border 0px
  padding 0px
  width 960px
  margin 0 auto
  font-family Monaco
  .header
    position relative
    display block
    p
      padding-top 20px
      display inline-block
    a
      display inline-block
      left 600px
      text-decoration none
      position relative
    .op-group
      font-size 12px
      p
        padding 0
        margin 0
        display inline-block
  
  .multiDayOnePerson-div
    position relative
    display inline-block
