.multiDayOnePerson
  background white
  border 0px
  padding 0px
  width 960px
  margin 0 auto
  font-family Monaco
  .header
    position relative
    display block
    p
      padding-top 20px
      display inline-block
      font-size 18px
    a
      display inline-block
      left 600px
      text-decoration none
      position relative
    .op-group
      font-size 12px
      p
        padding 0
        margin 0
        display inline-block
  
  .multiDayOnePerson-div
    position relative
    display inline-block

  .show-container
    top 550px
    margin-left -480px
    left 50%
    position absolute
    display block
    width 960px
    height 200px
    background-color white;
    border 0px solid red
    .show
      transition 1s
      width 100%
