.oneDayMultiPerson
  display block
  width 960px
  margin 0 auto
  font-family Monaco
  .header
    height 120px
    display block
    p
      display inline-block
      padding-top 20px
    a
      display inline-block
      left 600px
      text-decoration none
      position relative
    .op-group
      font-size 12px
      display block
      p
        padding 0
        margin 0
        display inline-block
      span#hint
        color red
  .container
    position relative
    width 960px
    .op-container
      vertical-align top
      width 130px
      height 400px
      display inline-block
      select
        display block
    .oneDayMultiPerson-div
      position relative
      display inline-block
      width 800px
